<h2>Angular 2 Form Modules</h2>
<br />
<!--To hook Angular 2 Forms you need to insert #form="ngForm" -->
<form novalidate [formGroup]="form">
  <fieldset class="form-group">
    <legend>Personal Settings</legend>
    <div class="form-group">
      <label for="firstName">First Name</label>
      <input type="text" formControlName="firstName" class="form-control" placeholder="First Name">
    </div>
    <div class="form-group">
      <label for="lastName">Last Name</label>
      <input type="text" formControlName="lastName" class="form-control" placeholder="Last Name">
    </div>
    <div class="form-group">
      <label for="email">Email address</label>
      <input type="email" class="form-control" formControlName="email" placeholder="Enter email">
    </div>
  </fieldset>
  <fieldset class="form-group">
    <legend>Account Settings</legend>
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" class="form-control" formControlName="username" placeholder="Username">
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" formControlName="password" placeholder="Password">
    </div>
    <div class="form-group">
      <label for="confirmPassword">Confirm Password</label>
      <input type="password" class="form-control" formControlName="confirmPassword" placeholder="Password">
    </div>
  </fieldset>
  <div class="form-check">
    <label class="form-check-label">
      <input type="checkbox" class="form-check-input" formControlName="check">
      Check me out
    </label>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
<br />
<pre>{{ form.value | json }}</pre>
